.nav__container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-block: 2em;
}

.nav__logo__container {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 40px;
  height: 40px;
}
.nav__logo--text {
  font-size: 1.6rem;
  font-weight: 800;
  margin-left: 0.5em;
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  margin: 1em;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.35px;
  color: black;
}
.nav__link:hover {
  color: #6415ff;
  border-bottom: 2px solid #6415ff;
  cursor: pointer;
}

.nav__logo--signup {
  padding: 0.75em 2em;
  background-color: #6415ff;
  border: none;
  border-radius: 28px;
  color: #fff;
}

.nav__logo--signup:hover {
  background-color: #4404c3;
  color: #fff;
  border: none;
}
