.work__row {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 4em;
}
.work__leftContainer {
  width: 50%;
}
.work__text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.6px;
  margin-bottom: 1em;
}
.work__heading {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  line-height: 72px;
}
.work__subtext {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 29.25px;
  color: #7c8ba1;
  margin-block: 1em;
  max-width: 576px;
}
.work__rightContainer {
  width: 50%;
}

.work__img {
  border: 1px solid #e2e8f0;
  width: 100%;
  height: 100%;
}

.work__btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  background-color: #6415ff;
  color: #fff;
  padding: 1.1em 2em;
  margin: 0.3em 0.3em 0.3em;
  border: none;
  border-radius: 2rem;
}
.work__btn:hover {
  background-color: #4404c3;
}
/* 
Slide __02---Styling
*/

.work__img2 {
  width: 100%;
  height: 100%;
  padding: 1em;
}
.work__listOfSteps {
  margin: 3em 0 0 0;
}
/* 
Slide __03---Styling
*/

.work__cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 90%;
  margin-block: 3em;
}
.left__card--div {
  display: flex;
  align-items: center;
}
.left__card--div > p {
  margin-left: 0.8em;
}
.right__card--div {
  display: flex;
  align-items: center;
}
.right__card--div > p {
  margin-left: 0.8em;
}
.subtext__ext {
  max-width: 100%;
  padding-inline: 1em;
}
.work__img3 {
  width: 100%;
  height: 100%;
}
