.row {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 4em;
}
.hero__left {
  width: 40%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
}
.hero__subtext {
  width: 100%;
  font-size: 1.1rem;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.6875rem;
  color: #39393c;
}
.hero__input {
  position: relative;
  width: 27.9996875em;
  height: 4.2079em;
}
.hero__btn {
  position: absolute;
  top: 4%;
  left: 63%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  background-color: #6415ff;
  color: #fff;
  padding: 1.1em 2em;
  margin: 0.3em 0.3em 0.3em;
  border: none;
  border-radius: 2rem;
}
.hero__btn:hover {
  background-color: #4404c3;
}
.hero__input--field {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 27.9996875em;
  height: 4.2079em;
  padding: 1.25em 12em 1.25em 2em;
  border: 2px solid rgba(81, 81, 81, 0.231);
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: all 0.2s ease-in-out;
  outline-color: #6415ff;
}
.hero__input--field:hover {
  border: 2px solid rgba(0, 0, 0, 0.459);
}

.hero__input--field::placeholder {
  color: rgba(137, 137, 137, 0.462);
}

.hero__credit {
  margin-top: 5rem;
}
.hero__credit > p {
  font-size: 0.75rem;
  font-weight: 600;
  color: #766e86a5;
}
.hero__credit--img {
  margin-top: 0.8em;
  width: 24.333em;
  opacity: 0.6;
}
.hero__right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__image {
  width: 100%;
  height: 100%;
}
